<!DOCTYPE html>
<Html lang="en">
<head>

     <meta charset="utf-8" />

</head>
   <body>

                   
                   <div class="text-center">
                    <h1 class="Display-4" >Confirmação Excluir Contato</h1>
                   </div>
                 
                  <div class="text-center">
                        <h3>Realmente dejeja excluir Contato</h3>
                  </div>

                  <a class="btn btn-primary btn-block" asp-controller="Contato" asp-action="Apagar">Excluir</a>
                  <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="IndexContato" role="button">Cancelar</a>

   </body>
</Html>